# Chapter 2: Variables and and Simple Data Types
* A variable name is an **identifier**. 
* May consist of letters, digits and underscores (`_`) but **may not begin with a digit**. 
* Python is _case sensitive_. 
* Each value in Python has a type that indicates the kind of data the value represents.

#### Write a statement to create variable `myBirthYear` and use the **assignment symbol (`=`)** to give `myBirthYear` a numeric value.

In [16]:
myBirthYear=2006

In [17]:
n6n=6

#### This is a markdown cell

### Print a message consisting of a quoted sequence of characters

In [20]:
print("Hello World")

Hello World

In [21]:
print('Hello World')

Hello World

### Combine our knowledge about variables and printing to output a variable entered in a prior cell.

In [25]:
x = 5 * 6

In [26]:
print(x)

30

In [27]:
print(myBirthYear)

2006

# Strings

## A string is simply a series of characters. Anything inside quotes is considered a string in Python, and you can use `single` or `double quotes` around your strings
### "This is a string."
### 'This is also a string.'

###  Build in String methods
Use `dir('  ')` to display all possible methods (ways we can manipulate) strings (sequences of characters).

In [28]:
dir(" ")

['__add__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getnewargs__',
 '__getstate__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mod__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rmod__',
 '__rmul__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'capitalize',
 'casefold',
 'center',
 'count',
 'encode',
 'endswith',
 'expandtabs',
 'find',
 'format',
 'format_map',
 'index',
 'isalnum',
 'isalpha',
 'isascii',
 'isdecimal',
 'isdigit',
 'isidentifier',
 'islower',
 'isnumeric',
 'isprintable',
 'isspace',
 'istitle',
 'isupper',
 'join',
 'ljust',
 'lower',
 'lstrip',
 'maketrans',
 'partition',
 'removeprefix',
 'removesuffix',
 'replace',
 'rfind',
 'rindex',
 'rjust',
 'rpartition',
 'rsplit',
 'rstrip',
 'split',
 'splitlines',
 'startswith',
 'strip',
 'swapcase',
 'title',
 'translate',
 'upper',
 'zfill']

### Note: you don't need to worry about most of the methods defined above.  We are interested in a very small subset.

In [31]:
Myname = 'Matthew'
print(Myname)

Matthew

In [32]:
# print uppercase version of a string
print(Myname.upper())

MATTHEW

In [33]:
# print lowercase version of a string
print(Myname.lower())

matthew

In [34]:
# capitalize only the first letter in a string
print(Myname.capitalize())

Matthew

In [35]:
# provide title-case for a string (Notice how this is distinct from capitalizing)
print(Myname.title())

Matthew

In [36]:
myGreetings = "hello. today is wednesday."

In [37]:
print(myGreetings.title())

Hello. Today Is Wednesday.

In [38]:
print(myGreetings.capitalize())

Hello. today is wednesday.

In [39]:
# Concatenate two strings (be careful -- this is done in a slightly different fashion!)
mystr1 = "Hello students. "
mystr2 = "This is CS150."
print(mystr1)
print(mystr2)

Hello students.
This is CS150.

In [40]:
print(mystr1 + mystr2)

Hello students. This is CS150.

In [41]:
print(mystr2 + mystr1)

This is CS150.Hello students.

In [ ]:
# Find the number of characters in a string (again, this may vary)

In [42]:
print(len(mystr1))

16

In [43]:
print(len(myGreetings))

26

## Practice 1:
Personal Message: Store a person’s name in a variable, and print a message
to that person. Your message should be simple, such as, “Hello Eric,
would you like to learn some Python today?”

In [48]:
Pname = 'Mark '
Hi = 'Hello '
Question = "would you like to learn some Phython today?"
print(Pname)
print(Hi)
print(Question)

Mark
Hello
would you like to learn some Phython today?

In [49]:
print(Hi + Pname + Question)

Hello Mark would you like to learn some Phython today?

## Practice 2:
Name Cases: Store a person’s name in a variable, and then print that person’s
name in lowercase, uppercase, and titlecase.

In [1]:
myFamilyMember = "Cole virgin"
print(myFamilyMember)

Cole virgin

In [3]:
print(myFamilyMember.lower())

cole virgin

In [4]:
print(myFamilyMember.upper())

COLE VIRGIN

In [5]:
print(myFamilyMember.title())

Cole Virgin

## Adding Whitespace to Strings with Tabs or Newlines or  quotation
* A backslash (`\`) in a string is the **escape character**. 
* The backslash and the character immediately following it form an **escape sequence**. 

#### 2.4.2 Other Escape Sequences
| Escape sequence | Description
| :------- | :------------
| `\n` | Insert a newline character in a string. When the string is displayed, for each newline, move the screen cursor to the beginning of the next line. 
| `\t` | Insert a horizontal tab. When the string is displayed, for each tab, move the screen cursor to the next tab stop. 
| `\\` | Insert a backslash character in a string.
| `\"` | Insert a double quote character in a string.
| `\'` | Insert a single quote character in a string.

In [6]:
print("Hello\n world")

Hello
 world

In [7]:
print("Hello\t world")

Hello	 world

In [13]:
print("Hello\n \t world")

Hello
 	 world

In [14]:
print("Hello\\ world")

Hello\ world

In [17]:
print("The butler said, \"Hello\" to the guests.")

The butler said, "Hello" to the guests.

## Useful methods for splitting a string
- split
- rsplit (we'll talk about the difference between this and split later)
- splitlines

In [18]:
greetings = "Hello. Today is Friday the 17th of January."
print(greetings)

Hello. Today is Friday the 17th of January.

In [19]:
print(greetings.split())

['Hello.', 'Today', 'is', 'Friday', 'the', '17th', 'of', 'January.']

In [22]:
multilinegreetings = "Hello. \nToday is Friday. \nHow are You?"
print(multilinegreetings)

Hello.
Today is Friday.
How are You?

In [23]:
print(multilinegreetings.splitlines())

['Hello. ', 'Today is Friday. ', 'How are You?']

## Useful methods for stripping a string of whitespace characters (" ", "\t", "\n")
- lstrip
- rstrip
- strip

In [24]:
leadstring = "\n\tHello. This example has whitespace at the front."
print(leadstring)

	Hello. This example has whitespace at the front.

In [25]:
print(leadstring.lstrip())

Hello. This example has whitespace at the front.

In [28]:
trailstring= "Hello. \n\t"
print(trailstring)

Hello.

In [29]:
print(trailstring.rstrip())

Hello.

## Practice 3
1. Stripping Sentences: Create a sentence consisting of multiple words, and include some whitespace characters at the beginning and end of the name. Make sure you use " ", "\t" and "\n", at least once at the beginning and/or end.
Print the sentence once, so the whitespace around the sentence is displayed.
Then print the sentence using each of the three stripping functions, lstrip(),
rstrip(), and strip().

In [30]:
mygroceries = "\n\tMilk, Bread, Oranges \n\t"
print(mygroceries)

	Milk, Bread, Oranges

In [31]:
print(mygroceries.lstrip())

Milk, Bread, Oranges

In [32]:
print(mygroceries.rstrip())

	Milk, Bread, Oranges

In [33]:
print(mygroceries.strip())

Milk, Bread, Oranges

#### Replacing words or characters of a string (Note: we're only brushing the surface of what Python can do here!)

In [34]:
dir(" ")

['__add__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getnewargs__',
 '__getstate__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mod__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rmod__',
 '__rmul__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'capitalize',
 'casefold',
 'center',
 'count',
 'encode',
 'endswith',
 'expandtabs',
 'find',
 'format',
 'format_map',
 'index',
 'isalnum',
 'isalpha',
 'isascii',
 'isdecimal',
 'isdigit',
 'isidentifier',
 'islower',
 'isnumeric',
 'isprintable',
 'isspace',
 'istitle',
 'isupper',
 'join',
 'ljust',
 'lower',
 'lstrip',
 'maketrans',
 'partition',
 'removeprefix',
 'removesuffix',
 'replace',
 'rfind',
 'rindex',
 'rjust',
 'rpartition',
 'rsplit',
 'rstrip',
 'split',
 'splitlines',
 'startswith',
 'strip',
 'swapcase',
 'title',
 'translate',
 'upper',
 'zfill']

In [35]:
badgreet = "Helo. This is the second Friday of the semester. Helo to you."
print(badgreet)

Helo. This is the second Friday of the semester. Helo to you.

In [41]:
print(badgreet.replace("Helo.", "Hello."))

Hello. This is the second Friday of the semester. Helo to you.

In [40]:
print(badgreet.replace("Helo", "Hello"))

Hello. This is the second Friday of the semester. Hello to you.

# Number

# Data Types
* `float` (floating point) - used for real numbers.
* `int` (integer) - used for integers.

## Arithmetic Operator
| Python operation | Arithmetic operator | Python expression
| :-------- | :-------- | :-------- 
| Addition | `+`  | `f + 7` 
| Subtraction | `–` | `p - c` 
| Multiplication | `*` | `b * m` 
| Exponentiation | `**` |  `x ** y` 
| True division | `/` | `x / y` 
| Floor division | `//` | `x // y` 
| Remainder (modulo) | `%` | `r % s` 

`Floor division` is an operation in Python that divides two numbers and rounds the result down to the nearest integer.

In [43]:
num1 = 21
num2 = 5

In [44]:
print(num1+num2)
print(num1-num2)
print(num1*num2)
print(num1/num2)

26
16
105
4.2

In [45]:
print(num1**num2)
print(num1//num2)
print(num1%num2)

4084101
4
1

## Avoiding Type Errors with the str() Function

In [46]:
print(num1)
print(num2)

21
5

In [47]:
print("The first number that I typed was " + num1)

TypeError: can only concatenate str (not "int") to str

In [48]:
print("The first number that I typed was " + str(num1))

The first number that I typed was 21

In [50]:
print(type(num1))
print(type(str(num1)))

<class 'int'>
<class 'str'>

In [58]:
print("My first number was " + str(num1) + " and my second number was " + str(num2))

My first number was 21 and my second number was 5

## Practice 4
Basic Arithmetic: Write addition, subtraction, multiplication, and division
operations that each result in the number 91. <br>Be sure to enclose your operations
in print statements to see the results. You should create four lines that look
like this:
print([num1] + [num2]), where num1 and num2 are appropriate numbers for the operation.<br>
Your output should simply be four lines with the number 91 appearing once
on each line.

In [62]:
print(50+41)
print(92-1)
print(9.1*10)
print(910/10)

91
91
91.0
91.0

## Getting Input from the User
* Built-in **`input` function** requests and obtains user input.

In [1]:
input("Please input a value")

Please input a value Hi there

'Hi there'

In [4]:
str1 = input("Please input a string: ")

Please input a string:  Hello

In [3]:
str2 = input("Please input another string: ")

Please input another string:  world

In [5]:
print(str1 + str2)

Hello world

## Getting an Integer/ Float from the User
* If you need an integer, convert the string to an integer using the built-in **`int` / `float` function**.

In [12]:
num_gallons = int(input("Please input gallons of gas you are buying: "))

Please input gallons of gas you are buying:  10

In [13]:
cost_pg = float(input("Please input the cost of gas per gallon in $: "))

Please input the cost of gas per gallon in $:  3.79

In [15]:
print("The total cost is " + str(num_gallons * cost_pg))

The total cost is 37.9

## Practice 5
Favorite Number: Select your own favorite number, and store it in a variable.  Ask a user for their favorite number, and store it in a second variable. Then, using those two variables, create a print message indicating the sum of the two numbers.

In [34]:
fnum = input("Please enter my favorite number: ")

Please enter my favorite number:  7

In [19]:
unum = input("Please enter your favorite number: ")

Please enter your favorite number:  9

In [22]:
type(fnum)
type(unum)

str

In [35]:
fnum = int(input("Please enter my favorite number: "))

Please enter my favorite number:  7

In [28]:
unum = float(input("Please enter your favorite number: "))

Please enter your favorite number:  9

In [32]:
type(fnum)

int

In [33]:
type(unum)

float

In [36]:
print(fnum + unum)

16.0

## Checking the data type using `type` function

In [37]:
print(type(10))

<class 'int'>

In [39]:
print(type(3.14159))

<class 'float'>

In [41]:
print(type("Hello world"))

<class 'str'>

In [42]:
print(type([1,2,3,4,5,]))

<class 'list'>

## Errors in Python
When an error occurs in your program, the Python interpreter does its
best to help you figure out where the problem is. The interpreter provides
a traceback when a program cannot run successfully. A traceback is a record
of where the interpreter ran into trouble when trying to execute your code.
Errors can be classified into three major groups:
- Syntax errors
- Runtime errors
- Logical errors

### Syntax error.
- Python will find these kinds of errors when it tries to parse your program, and exit with an error message without running anything. 
- Syntax errors are mistakes in the use of the Python language, and are analogous to spelling or grammar mistakes in a language like English: for example, the sentence Would you some tea? does not make sense – it is missing a verb.

### Example:
- leaving out a keyword
- putting a keyword in the wrong place
- leaving out a symbol, such as a colon, comma or brackets
- misspelling a keyword
- incorrect indentation
- empty block

In [43]:
pint("Hello world")

NameError: name 'pint' is not defined

In [44]:
"Hello world"(print)

<>:1: SyntaxWarning: 'str' object is not callable; perhaps you missed a comma?
<>:1: SyntaxWarning: 'str' object is not callable; perhaps you missed a comma?
/var/folders/57/mngn39h91_q0qn2xbg1pcvth0000gp/T/ipykernel_34211/3737273558.py:1: SyntaxWarning: 'str' object is not callable; perhaps you missed a comma?
  "Hello world"(print)

TypeError: 'str' object is not callable

In [45]:
print("Hello world")

Hello world

In [46]:
print("Hello world" +)

SyntaxError: invalid syntax (1906682707.py, line 1)

In [49]:
myname = "Matthew"

In [50]:
print("Hello. My name is " myname)

SyntaxError: invalid syntax. Perhaps you forgot a comma? (3335095871.py, line 1)

In [51]:
print("Hello. My name is " + myname)

Hello. My name is Matthew

## Runtime error
- A program with a runtime error is one that passed the interpreter’s syntax checks, and started to execute. 
- However, during the execution of one of the statements in the program, an error occurred that caused the interpreter to stop executing the program and display an error message. 
- Runtime errors are also called `exceptions` because they usually indicate that something exceptional (and bad) has happened.

### Examples: 
- division by zero.
- performing an operation on incompatible types.
- using an identifier which has not been defined.
- accessing a list element, dictionary value or object attribute which doesn't exist.
- trying to access a file which doesn't exist.

In [52]:
print(10/0)

ZeroDivisionError: division by zero

In [54]:
mynum = input("Please input a number: ")
print(5+mynum)

Please input a number:  10

TypeError: unsupported operand type(s) for +: 'int' and 'str'

In [55]:
mynum = input("Please input a number: ")
print(5+num)

Please input a number:  10

NameError: name 'num' is not defined

### Logical error
- Logical errors are the most difficult to fix. They occur when the program runs without crashing, but produces an incorrect result. 
- The error is caused by a mistake in the program’s logic. 
- You won’t get an error message, because no syntax or runtime error has occurred. 
- You will have to find the problem on your own by reviewing all the relevant parts of your code

In [62]:
myradius = float(input("Please input a circle\'s radius: "))
print("The circle\'s area is " + str(3.14 * myradius**2))

Please input a circle's radius:  10

The circle's area is 314.0

## Flow of Control
* A crucial aspect to programming is the order in which operations are executed (flow of control).
* The vast majority of languages (Python included) dictate that statements are to be executed one by one in sequential order.
    * The Python standard is that statements are separated by line-breaks in top-to-bottom order.
    * Python also allows semicolons (;) to break apart multiple statements on a single line.
* Various Python statements enable you to subvert standard flow of control. We will look at these in a later chapter.

In [63]:
myval1 = 10; myval2 = 20; myval3 = 30;
print(myval1+myval2+myval3)

60

## Practice 6
Diagnosing the errors: The code in the first cell below consists of multiple errors.
1. Using Markdown in the second cell below, identify each error and its category (logical, run-time, syntax) using a numbered list
2. In the third cell below, post a fixed version of the code.

In [66]:
product_price = 11.99; taxed_rate = 1.06 
product_qty = (input()
subtotal = product_price * product_qty
taxed_total = subtotal + taxed_rate
print('The total cost of your purchase is $' str(round(taxed_total,2)))

 10

The total cost of your purchase is $120.96

1. Syntax error, didnt add a plus to conjugate both strings.
2. Syntax error, tried to multiply a string and int
3. Logical error, input needs a line of what you want the user to enter.

In [71]:
product_price = 11.99; taxed_rate = 1.06 
product_qty = float(input("Please input the quantity of product you are purchasing: "))
subtotal = product_price * product_qty
taxed_total = subtotal + taxed_rate
print('The total cost of your purchase is: $' + str(round(taxed_total,2)))

Please input the quantity of product you are purchasing:  10

The total cost of your purchase is: $120.96