# Programming Assignment 2 - Matthew Virgin
## CS-150 Spring 2025

### Task 1: Personal Information
Create variables to store information about yourself.

In [8]:
name = 'Matthew Virgin'
pmajor = 'Computer Science and Engineering'
fgame = 'basketball'
hometown = 'Eminence'

Print message that includes all of the information variables.

In [7]:
print('My name is ' + name + ', I am pursuing a degree in ' + pmajor + ', my favorite sport is ' + fgame + ', and my hometown is ' + hometown + '.')

My name is Matthew Virgin, I am pursuing a degree in Computer Science and Engineering, my favorite sport is basketball, and my hometown is Eminence.

### Task 2: Tempature Conversion
Create a variable for tempature in Farenheit.

In [2]:
farenheit_temp = 86

Convert Farenheit temperature to Celsius temperature.

In [3]:
celcuis_temp = (farenheit_temp-32)*5/9

In [4]:
print(celcuis_temp)

30.0

Print a message that includes both temperatures.

In [6]:
print("The temperature in Farenheit is " + str(farenheit_temp) + '°' + ', which equals ' + str(celcuis_temp) + '°' + ' in Celcuis.')

The temperature in Farenheit is 86°, which equals 30.0° in Celcuis.

### Task 3: Simple Calculator
Create variables num1 and num2 and assign them numeric values.

In [8]:
num1 = 76
num2 = 9

Perform the operations and print the results

In [9]:
print(num1 + num2)

85

In [10]:
print(num1 - num2)

67

In [11]:
print(num1*num2)

684

In [12]:
print(num1/num2)

8.444444444444445

### Task 4: String Manipulation
Create a variable for a famous quote.

In [13]:
quote = 'You only live once, but if you do it right, once is enough.'
print(quote)

You only live once, but if you do it right, once is enough.

Print the length of the qoute.

In [14]:
print(len(quote))

59

Print the in uppercase, lowercase, and split it into a list.

In [18]:
print(quote.upper())

YOU ONLY LIVE ONCE, BUT IF YOU DO IT RIGHT, ONCE IS ENOUGH.

In [19]:
print(quote.lower())

you only live once, but if you do it right, once is enough.

In [20]:
print(quote.split())

['You', 'only', 'live', 'once,', 'but', 'if', 'you', 'do', 'it', 'right,', 'once', 'is', 'enough.']

### Task 5: User Inputs and Operations
Prompt the user to enter the  length, width, and height of the cuboid.

In [21]:
length = float(input('Please input the length of the cuboid: '))
width = float(input('Please input the width of the cuboid: '))
height = float(input('Please input the height of the cuboid: '))

Please input the length of the cuboid:  10
Please input the width of the cuboid:  3
Please input the height of the cuboid:  78

Use the formula above to compute the shape’s volume.

In [22]:
volume = (length*width*height)

Print the statement to calculate the volume of the cuboid.

In [25]:
length = float(input('Please input the length of the cuboid: '))
width = float(input('Please input the width of the cuboid: '))
height = float(input('Please input the height of the cuboid: '))
volume = (length*width*height)
print("The volume of your cuboid is " + str(volume) + " units")

Please input the length of the cuboid:  10
Please input the width of the cuboid:  4
Please input the height of the cuboid:  90

The volume of your cuboid is 3600.0 units